.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.container {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
body{
  background-color:#5cbdb9
}
.row{
  height: 200px;
  margin: 10px;
  border: 100px;
  background-color:#e8f9fd
}
button{
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px;
  float:inline-end;
}

.name{
  font-size: 50px;
}

.nextBtn{
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
}

.price{
  border: 200px;
  margin: 20px;
  float: right;
}

.description{
  padding: 20px;
}
